<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-authcheck"
    version="1.1.1">
    <name>AuthCheck</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,authcheck</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-authcheck.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320648</issue>

    <js-module src="www/authcheck.js" name="authcheck">
        <clobbers target="authcheck" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AuthCheck" >
                <param name="android-package" value="jp.verve.authcheck.AuthCheck"/>
            </feature>
        </config-file>

        <source-file src="src/android/AuthCheck.java" target-dir="src/jp/verve/authcheck" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="AuthCheck">
            <param name="ios-package" value="AuthCheck" />
          </feature>
        </config-file>

        <source-file src="src/ios/AuthCheck.swift" />
        <header-file src="src/ios/ThanksGift-Bridging-Header.h" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="browser-package" value="Device" />
            </feature>
        </config-file>

        <js-module src="src/browser/DeviceProxy.js" name="DeviceProxy">
            <runs />
        </js-module>
    </platform>

</plugin>
